h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;
}

.kg-row {
  margin: 30px 5px;
}

.kg-button {
  min-width: 110px;
}